<toolbar id="toolbar" class="toolbar">
</toolbar>
<!-- 表格 -->
<table id="table" data-toggle="gridview" class="table table-hover" data-pagination="false" data-url="__ACTION__" data-toolbar="#toolbar" >
    <thead>
		<tr>
			<th data-field="level">序号</th>
			<th data-field="title">代理级别</th>
			<th data-field="price_title">售价标题</th>
			<th data-field="once_amount">一次性充值</th>
			<th data-field="self_amount">赠送货款</th>
			<th data-field="parent1_amount">一级推荐人提成</th>
			<th data-field="parent2_amount">二级推荐人提成</th>
			<th data-field="parent3_amount">三级推荐人提成</th>
		</tr>
	</thead>
</table>