<!DOCTYPE html>
<html lang="zh-CN">
<head>
<include file="_layout/mall.head.html" />
<link rel="stylesheet" href="__CDN__/css/cart.css?modify=20160913">
</head>
<body class="body-fixed-bottom">
	<div class="container">
		<div class="content clearfix js-page-content">
			<div id="cart-container" class="cart-container"></div>
			<div class="js-cart-bottom bottom-fix" style="padding:0;display:none">
				<div class="bottom-cart clear-fix js-cart-bottom">
					<div class="select-all checked js-select-all">
						<span class="check checked"></span>全选
					</div>
					<div class="total-price js-total-price">合计：0元</div>
					<button class="btn-go-pay btn btn-red js-go-pay" disabled="disabled">结算(0)</button>
				</div>
			</div>
		</div>
		<include file="_layout/mall.copyright.html" />
	</div>
</body>
<script type="text/javascript">
requirejs(['mall/cart'], function(cart){
	cart.init({$jsonList});
});
</script>
</html>